/* -------- font related -------- */
html[data-theme = 'light'] {
    --bg: rgba(255, 255, 255, 0.80);
    --heading : rgba(13, 144, 244, 0.975);
    --text : rgba(0, 0, 0, 0.8);
}
html[data-theme = 'dark'] {
    --bg: rgba(16, 16, 16, 0.988);
    --heading : rgba(13, 144, 244, 0.975);
    --text : rgba(255, 255, 255, 0.90);
}

/* -------- background related -------- */
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Nobile', sans-serif;
    line-height: 3.9em;
    background-color: var(--bg)
    
}
/* -------- text related -------- */
#mayank {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.hello {
    padding-bottom: 2.85em;
    color: var(--text);
    font-size: .95em;
}

.text {
    text-align: justify;
    font-size: 2.4em;
    font-weight: lighter;
    color: var(--text)

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 33.7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
}

.getintouch {
    padding-top: 2.75em;
    font-size: .5em;
    color: var(--text);
}


a {
    text-decoration: none;
    color: var(--text);
    border-bottom: 4px solid var(--heading);
}


/* -------- emoji related -------- */
#emoji-hand {
    padding-left: .5em; 
}


span.wave {
    animation-name: wave-animation;    /* Refers to the name of @keyframes element below */
    animation-duration: 3s;          /* Change to speed up or slow down */
    animation-iteration-count: infinite;    /* Never stop waving :) */
    transform-origin: 80% 80%;         /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
@keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
    100% { transform: rotate(  1.0deg) }
  }

#emoji-point {
    font-size: x-large;
    padding-top: 20000px;
    padding-right: .3em;
    padding-left: .2em;
    
}


/* -------- Switch related -------- */

.button {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    padding-top: 1em;
    align-items: center;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: rgb(96, 96, 96);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
    border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--heading);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

#darkness {
    font-size: x-large;
    padding-top: .103em;
    padding-right: .345em;
    display: flex;
    justify-content: center;
    color: var(--text);
}

.heading {
    padding-top: 55em;
    padding-bottom: 50em;
    margin: 0;
    position: absolute;
    left: 33.7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    color: var(--heading);
    font-weight: 900;
    font-size: 1.1em;
}

.space {
    padding-top: 55em;
    padding-bottom: 50em;
    margin: 0;
    position: absolute;
    left: 33.7%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    letter-spacing: 1px;
}
.indented {
    padding-top: 55em;
    padding-bottom: 50em;
    margin: 0;
    position: absolute;
    left: 50.7%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    letter-spacing: 1px;
}

.border {
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px; 
    padding-right: 1px;
    border: 2px;
    border-color: var(--text);
}







